doctype html
html(lang='en')

  head

    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')

    title DocAider

    link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

    include includes/css.pug

  body

    include includes/navbar.pug

    // Page Header
    header.masthead(style="background-image: url('assets/img/home-bg.jpg')")
      .container.position-relative.px-4.px-lg-5
        .row.gx-4.gx-lg-5.justify-content-center
          .col-md-10.col-lg-8.col-xl-7
            .site-heading
              h1 DocAider
              span.subheading Automated Documentation Maintenance for Open-source GitHub Repositories

    // Main Content
    section
      .container.px-4.px-lg-5
        .row.gx-4.gx-lg-5.justify-content-center
          .col-lg-10
            h2.section-heading.text-center
              span No More Manual Documentation. 
            p.text-center.lead.mb-5
              | Developed in partnership with University College London (UCL), and Microsoft, DocAider is designed to automate the documentation process with minimal human intervention. By integrating DocAider into a development workflow, software development teams can focus on coding, while DocAider takes care of generating and updating the necessary documentation. Whether it's creating new documentation or updating it on the go as well as based on pr comments from senior developers, DocAider streamlines the entire process. 
            body 
              img(src="images/docaider.png" alt="DocAider Solution" style="max-width: 100%; height: auto;")

 
          
    include includes/footer.pug

    include includes/scripts.pug
